<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <connectionStrings>
      <add name="inputCSV" connectionString="input2.csv"/>
      <add name="outputXML" connectionString="HotelsXML.xml"/>
      <add name="outputJSON" connectionString="HotelsJSON.txt"/>
    </connectionStrings>
</configuration>